.app{
    margin: 0 auto;
    max-width: 1000px;
}
.headerTitle{
    font-weight: 600;
    font-size: 20px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.products > a{
    flex: 0 1 25%;
    margin-top: 10px;
    padding: 0 15px;
}